In [1]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# .extend() 
# extending visited_cities list (IN PLACE) by concatenating wish_cities
visited_cities.extend(wish_cities)
print("ALL CITIES",visited_cities)

ALL CITIES ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']

In [2]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# (+) Addition operator for lists creates a (NEW) combined List
all_cities = visited_cities + wish_cities

print("ALL CITIES")
for city in all_cities:
    print(city)

ALL CITIES
New York
Shanghai
Munich
Toyko
Dubai
Mexico City
São Paulo
Hyderabad
Reykjavík
Moscow
Beijing
Lamu

In [3]:
# [ ] review and run example
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)

# (+) Addition operator 
team_totals = team_a + team_b
print("Team Totals", team_totals)
# [ ] review and run example after running cell above
# .extend() 
team_a.extend(team_b)
print("Team_a extended", team_a)

# what happens if you keep running this cell?

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [6]:
# Task 1
# [ ] extend the list common_birds with list birds_seen which you must create
common_birds = ["chicken", "blue jay", "crow", "pigeon"]
birds_seen = ["word1", "word2", "word3"]

common_birds.extend(birds_seen)

print(common_birds)

for birds in common_birds:
    print(birds)

['chicken', 'blue jay', 'crow', 'pigeon', 'word1', 'word2', 'word3']
chicken
blue jay
crow
pigeon
word1
word2
word3

In [7]:
# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
# [ ] use list addition to concatenate the lists into all_num and print

zero_nine = [1,2,3,4,5,6,7,8,9]
ten_onehundred = [10,20,30,40,50,60,70,80,90,100]

all_num = zero_nine + ten_onehundred

print(all_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)

regular ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
reversed ['Hyderabad', 'São Paulo', 'Mexico City', 'Dubai']

In [9]:
# [ ] review and run example
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0

In [10]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [1]:
# Task 2
# [ ] create and  print a list of multiples of 5 from 5 to 100
# { ] reverse the list and print

list_1 = [5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]

list_1.reverse()
print(list_1)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [9]:
# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]

fours = [4,8,12,16,20,24,28,32,36,40,44]
more_fours = [4,8,12,16,20,24,28,32,36,40,44]

fours.reverse()

fours.extend(more_fours)

print(fours)

[44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [10]:
# [ ] review and run example
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]

# use .sort()
quiz_scores.sort()

print("quiz_scores:", quiz_scores)

quiz_scores: [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]

In [11]:
# [ ] review and run example
game_points = [3, 14, 0, 8, 21, 1, 3, 8]

# use sorted()
sorted_points = sorted(game_points)

print("game_points:", game_points)
print("sorted_points:", sorted_points)

game_points: [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points: [0, 1, 3, 3, 8, 8, 14, 21]

In [12]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("Unsorted", cities_1)
cities_1.sort()
print("Sorted", cities_1)

Unsorted ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'São Paulo']

In [16]:
# Task 3
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
visited_cities.sort()
print(visited_cities)

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']

In [ ]:
# [ ] build a list (add_animals) using a while loop, stop adding when an empty string is entered
add_animals = []
animals = ["Chimpanzee", "Panther", "Wolf", "Armadillo"]

while True:
    user_input = input ('Please enter a name: ')
    add_animals.append(user_input)
    if user_input == "":
        break

print(add_animals)

add_animals.extend(animals)
print(add_animals)


add_animals.sort()
add_animals.reverse()
print(add_animals)